/*=============================
    Variables
=============================*/
//breakpoints
$xs-mobile: 360px;
$s-mobile: 450px;
$l-mobile: 600px;
$xs-tablet: 768px;
$s-tablet: 820px;
$m-tablet: 1024px;
$l-tablet: 1180px;
$medium: 1280px;
$notebook: 1366px;
$wide: 1440px;
$l-wide: 1680px;
$extreme: 1920px;
